<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>小麦茎基腐病害介绍</title>

    <style>
        /*body {*/
        /*    background-image: url('/static/image/00191.jpg');*/
        /*    background-repeat: no-repeat;*/
        /*    background-size: cover;*/
        /*    background-position: center;*/
        /*    opacity: 0.99;*/
        /*}*/
        /* 其他自定义样式 */
        .preview-image {
            max-width: 400px;
            max-height: 400px;
        }

        .custom-file-label::after {
            content: "选择";
        }

        .custom-file-label::before {
            content: "浏览";
        }
    </style>
</head>
<script src="/static/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">小麦病害识别系统</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('mail') }}">系统介绍</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('system') }}">系统介绍</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">小麦病害介绍</a>-->
                <!--                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="diseasesDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        小麦病害介绍
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="diseasesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('CrownAndRootRot') }}">小麦根冠腐烂</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('LeafRust') }}">小麦叶锈病</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('PowderyMildew') }}">小麦白粉病</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatAphids') }}">小麦蚜虫</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatCystNematode') }}">小麦囊包线虫病</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatLooseSmut') }}">小麦散粉病</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatRedSpider') }}">小麦红蜘蛛</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatScab') }}">小麦赤霉病</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatSharpEyespot') }}">小麦茎基腐</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatStalkRot') }}">小麦纹枯病</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('WheatTake') }}">小麦全蚀病</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container mt-4">
        <h1>小麦茎基腐（Wheat Stalk Rot）</h1>
        <div class="container">
            <div class="row">
                <!-- 预览区 -->
                <div class="col-md-3">
                    <div class="carousel-container d-flex justify-content-center align-items-center"
                         style="width: 300px; height: 400px; border: 1px solid #ccc; display: flex; justify-content: center; align-items: center;">
                        <div id="carousel0" class="carousel slide" data-bs-ride="carousel"
                             style="width: 100%; height: 100%;">
                            <div class="carousel-inner">
                                <!-- 轮播图项1 -->
                                <div class="carousel-item active" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_26.jpg" class="d-block w-100" alt="轮播图1"
                                         style="object-fit: contain; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项2 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_29.jpg" class="d-block w-100" alt="轮播图2"
                                         style="object-fit: contain; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项3 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_30.jpg" class="d-block w-100" alt="轮播图3"
                                         style="object-fit: contain; width: 100%; height: 100%;">
                                </div>
                            </div>
                            <!-- 添加轮播图控制按钮 -->
                            <a class="carousel-control-prev" href="#carousel0" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel0" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 病害轮播图展示区1 -->
                <div class="col-md-3">
                    <div class="carousel-container d-flex justify-content-center align-items-center"
                         style="width: 300px; height: 400px; border: 1px solid #ccc; display: flex; justify-content: center; align-items: center;">
                        <div id="carousel1" class="carousel slide" data-bs-ride="carousel"
                             style="width: 100%; height: 100%;">
                            <div class="carousel-inner">
                                <!-- 轮播图项1 -->
                                <div class="carousel-item active" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_50.jpg" class="d-block w-100" alt="轮播图1"
                                         style="object-fit: contain; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项2 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_51.jpg" class="d-block w-100" alt="轮播图2"
                                         style="object-fit: contain; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项3 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_54.jpg" class="d-block w-100" alt="轮播图3"
                                         style="object-fit: contain; width: 100%; height: 100%;">
                                </div>
                            </div>
                            <!-- 添加轮播图控制按钮 -->
                            <a class="carousel-control-prev" href="#carousel1" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- 病害轮播图展示区2 -->
                <div class="col-md-3">
                    <div class="carousel-container d-flex justify-content-center align-items-center"
                         style="width: 300px; height: 400px; border: 1px solid #ccc; display: flex; justify-content: center; align-items: center;">
                        <div id="carousel2" class="carousel slide" data-bs-ride="carousel"
                             style="width: 100%; height: 100%;">
                            <div class="carousel-inner">
                                <!-- 轮播图项1 -->
                                <div class="carousel-item active" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_79.jpg" class="d-block w-100" alt="轮播图1"
                                         style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项2 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_115.jpg" class="d-block w-100" alt="轮播图2"
                                         style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项3 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_125.jpg" class="d-block w-100" alt="轮播图3"
                                         style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                            </div>
                            <!-- 添加轮播图控制按钮 -->
                            <a class="carousel-control-prev" href="#carousel2" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel2" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 病害轮播图展示区3 -->
                <div class="col-md-3">
                    <div class="carousel-container d-flex justify-content-center align-items-center"
                         style="width: 300px; height: 400px; border: 1px solid #ccc; display: flex; justify-content: center; align-items: center;">
                        <div id="carousel3" class="carousel slide" data-bs-ride="carousel"
                             style="width: 100%; height: 100%;">
                            <div class="carousel-inner">
                                <!-- 轮播图项1 -->
                                <div class="carousel-item active" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_152.jpg" class="d-block w-100" alt="轮播图1"
                                         style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项2 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_155.jpg" class="d-block w-100" alt="轮播图2"
                                         style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                                <!-- 轮播图项3 -->
                                <div class="carousel-item" style="position: relative; overflow: hidden;">
                                    <img src="/static/image/WheatStalkRot_251.jpg" class="d-block w-100" alt="轮播图3"
                                         style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                            </div>
                            <!-- 添加轮播图控制按钮 -->
                            <a class="carousel-control-prev" href="#carousel3" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel3" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h2>病害描述</h2>
        <p>
            小麦茎基腐是一种真菌性病害，其症状在不同气候条件下会有所变化。在干旱半干旱地区，它主要引起茎基腐和根腐；在多湿地区，除了茎基腐和根腐外，还可能引起叶斑、茎枯和穗颈枯等症状。
        </p>
        <p>
            成熟期植株：在叶片或叶鞘上出现初期为黑褐色梭形病斑，随后逐渐扩大为椭圆形或不规则形褐斑。病斑中央呈灰白色至淡褐色，边缘不明显。在潮湿多雨的时期，病斑表面会产生黑色霉状物，可以轻易被手指擦掉（与球霉病、颖枯病和叶枯病不同）。
        </p>
        <p>
            穗部发病：通常只有个别小穗受感染，受感染的小穗梗和颖片会变为褐色。在湿度较大的情况下，病斑表面也会产生黑色霉状物，有时会导致穗枯或穗掉落。
        </p>
        <p>
            种子受害：受害种子的胚尖呈黑色，严重的情况下整个胚都呈黑色（但胚尖或整个胚呈黑色并不一定是由根腐病菌引起，也可能是由假黑胚病菌引起）。根腐病也可发生在胚乳的腹背或腹沟等部位。病斑梭形，边缘呈褐色，中央呈白色。这种受害种子被称为“花斑粒”。
        </p>

        <h2>防治措施</h2>
        <ul>
            <li>轮作倒茬：实行稻麦轮作，或者与棉花、烟草、蔬菜等经济作物轮作。也可以考虑种植大豆、油菜、马铃薯等作物，这样可以明显降低小麦茎基腐的发病。</li>
            <li>种子处理：对种子进行处理，可以使用苯醚甲环唑、硅噻菌胺等药剂进行处理，以减少病菌的传播。</li>
        </ul>
    </div>
</div>


<footer class="footer bg-dark text-white py-4 text-center">
    <div class="container text-center">
        <p>版权所有 &copy; 2023 基于深度学习的小麦病害识别系统</p>
        <a href="#" class="text-light" onclick="scrollToTop()">返回顶部</a>
    </div>
</footer>

<script>
    // 获取图片输入框和预览图片元素
    const imageInput = document.getElementById('image-input');
    const previewImage = document.getElementById('preview-image');

    // 监听图片输入框的变化事件
    imageInput.addEventListener('change', function (event) {
        const file = event.target.files[0];

        // 创建一个文件读取器
        const reader = new FileReader();

        // 读取文件并将结果赋值给预览图片元素的 src 属性
        reader.onload = function (e) {
            previewImage.src = e.target.result;
        };

        // 读取文件
        reader.readAsDataURL(file);
    });

    // 处理退出登录的逻辑
    function logout() {
        fetch('/logout', {
            method: 'POST',
            // 可以根据需要添加请求头或其他参数
        })
            .then(response => {
                // 在这里处理响应结果
                // 可以根据响应状态码或其他响应内容执行相应的操作
                if (response.ok) {
                    // 成功退出登录，跳转到首页
                    window.location.href = '/';
                } else {
                    // 处理退出登录失败的情况
                    console.error('Logout failed');
                    // 跳转到登录页面
                    window.location.href = '/login';
                }
            })
            .catch(error => {
                // 在这里处理错误情况
                console.error('Logout error:', error);
                // 跳转到登录页面
                window.location.href = '/login';
            });
    }

    document.addEventListener("DOMContentLoaded", function () {
        // 初始化 Popper.js
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl, {
                popperConfig: {
                    // 这里可以根据需要进行 Popper.js 的配置
                }
            })
        });
    });


</script>
<script>
    // 返回顶部的函数
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth" // 平滑滚动
        });
    }
</script>

</body>

</html>
